.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    background: rgba(208, 208, 208, 0.292);
    backdrop-filter: blur(10px);

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
  }
  
  .table-responsive {
    overflow-x: auto;
    border-radius: 10px;
  }

  
  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
  
  .negative-amount {
    color: #dc3545;
  }